{"swagger":"2.0","info":{"version":"v3","title":"Bittrex API","description":"Bittrex provides a simple and powerful API consisting of REST endpoints for transactional operations and a complementary Websocket service providing streaming market and user data updates.\n\n Access to and use of the API is governed by our Terms of Service.\n If you are a user of Bittrex.com, the applicable Terms of Service are available [here](https://bittrex.com/home/terms).\n If you are a user of Bittrex Global, the applicable Terms of Service are available [here](https://global.bittrex.com/home/terms).\n\n If you have any API questions, feedback, or recommendations please post a question via our [Github page](https://github.com/Bittrex/bittrex.github.io/issues)."},"host":"api.bittrex.com","basePath":"/v3","schemes":["https"],"paths":{"/account":{"get":{"tags":["Account"],"description":"Retrieve information for the account associated with the request.\r\nFor now, it only echoes the subaccount if one was specified in the header,\r\nwhich can be used to verify that one is operating on the intended account.\r\nMore fields will be added later.","operationId":"Account_Get","consumes":[],"produces":["application/json"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Account"}}},"x-btx-authenticated":true,"x-btx-request-example":"https://api.bittrex.com/v3/account"}},"/account/volume":{"get":{"tags":["Account"],"description":"Get 30 day volume for account","operationId":"Account_GetAccountVolume","consumes":[],"produces":["application/json"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/AccountVolume"}}},"x-btx-authenticated":true}},"/addresses":{"get":{"tags":["Addresses"],"description":"List deposit addresses that have been requested or provisioned.","operationId":"Addresses_List","consumes":[],"produces":["application/json"],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/Address"}}}},"x-btx-authenticated":true,"x-btx-request-example":"https://api.bittrex.com/v3/addresses"},"post":{"tags":["Addresses"],"description":"Request provisioning of a deposit address for a currency for which no address has been requested or provisioned.","operationId":"Addresses_Create","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"newAddress","in":"body","description":"information including ID of the currency to provision a deposit address for","required":true,"schema":{"$ref":"#/definitions/NewAddress"}}],"responses":{"201":{"description":"Created","schema":{"$ref":"#/definitions/Address"}}},"x-btx-authenticated":true,"x-btx-request-example":"https://api.bittrex.com/v3/addresses"}},"/addresses/{currencySymbol}":{"get":{"tags":["Addresses"],"description":"Retrieve the status of the deposit address for a particular currency for which one has been requested or provisioned.","operationId":"Addresses_Get","consumes":[],"produces":["application/json"],"parameters":[{"name":"currencySymbol","in":"path","description":"symbol of the currency to retrieve the deposit address for","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Address"}}},"x-btx-authenticated":true,"x-btx-request-example":"https://api.bittrex.com/v3/addresses/{currencySymbol}"}},"/balances":{"get":{"tags":["Balances"],"description":"List account balances across available currencies.\r\nReturns a Balance entry for each currency for which there is either a balance or an address.","operationId":"Balances_List","consumes":[],"produces":["application/json"],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/Balance"}}}},"x-btx-authenticated":true,"x-btx-request-example":"https://api.bittrex.com/v3/balances"},"head":{"tags":["Balances"],"description":"Get sequence of balances snapshot.","operationId":"Balances_GetBalancesNonce","consumes":[],"produces":["application/json"],"responses":{"200":{"description":"OK"}},"x-btx-authenticated":true}},"/balances/{currencySymbol}":{"get":{"tags":["Balances"],"description":"Retrieve account balance for a specific currency.\r\nRequest will always succeed when the currency exists, regardless of whether there is a balance or address.","operationId":"Balances_Get","consumes":[],"produces":["application/json"],"parameters":[{"name":"currencySymbol","in":"path","description":"unique symbol of the currency to retrieve the account balance for","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Balance"}}},"x-btx-authenticated":true,"x-btx-request-example":"https://api.bittrex.com/v3/balances/{currencySymbol}"}},"/conditional-orders/{conditionalOrderId}":{"get":{"tags":["ConditionalOrders"],"description":"Retrieve information on a specific conditional order.","operationId":"ConditionalOrders_Get","consumes":[],"produces":["application/json"],"parameters":[{"name":"conditionalOrderId","in":"path","description":"_(uuid-formatted string)_ - ID of conditional order to retrieve","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ConditionalOrder"}}},"x-btx-authenticated":true},"delete":{"tags":["ConditionalOrders"],"description":"Cancel a conditional order.","operationId":"ConditionalOrders_Delete","consumes":[],"produces":["application/json"],"parameters":[{"name":"conditionalOrderId","in":"path","description":"_(uuid-formatted string)_ - ID of order to cancel","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ConditionalOrder"}}},"x-btx-authenticated":true}},"/conditional-orders/closed":{"get":{"tags":["ConditionalOrders"],"description":"List closed conditional orders.\r\nStartDate and EndDate filters apply to the ClosedAt field.\r\nPagination and the sort order of the results are in inverse order of the ClosedAt field.","operationId":"ConditionalOrders_ListClosed","consumes":[],"produces":["application/json"],"parameters":[{"name":"marketSymbol","in":"query","description":"filter by market (optional)","required":false,"type":"string"},{"name":"nextPageToken","in":"query","description":"The unique identifier of the item that the resulting query result should start after, in the sort order of the given endpoint.\r\nUsed for traversing a paginated set in the forward direction.\r\n(Optional. May only be specified if PreviousPageToken is not specified.)","required":false,"type":"string"},{"name":"previousPageToken","in":"query","description":"The unique identifier of the item that the resulting query result should end before, in the sort order of the given endpoint.\r\nUsed for traversing a paginated set in the reverse direction.\r\n(Optional. May only be specified if NextPageToken is not specified.)","required":false,"type":"string"},{"name":"pageSize","in":"query","description":"maximum number of items to retrieve -- default 100, minimum 1, maximum 200 (optional)","required":false,"type":"integer","format":"int32"},{"name":"startDate","in":"query","description":"(optional) Filters out results before this timestamp. In ISO 8601 format (e.g., \"2019-01-02T16:23:45Z\").\r\nPrecision beyond one second is not supported. Use pagination parameters for more precise filtering.","required":false,"type":"string","format":"date-time"},{"name":"endDate","in":"query","description":"(optional) Filters out result after this timestamp.  Uses the same format as StartDate.\r\nEither, both, or neither of StartDate and EndDate can be set.  The only constraint on the pair is that, \r\nif both are set, then EndDate cannot be before StartDate.","required":false,"type":"string","format":"date-time"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/ConditionalOrder"}}}},"x-btx-authenticated":true}},"/conditional-orders/open":{"get":{"tags":["ConditionalOrders"],"description":"List open conditional orders.","operationId":"ConditionalOrders_ListOpen","consumes":[],"produces":["application/json"],"parameters":[{"name":"marketSymbol","in":"query","description":"filter by market (optional)","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/ConditionalOrder"}}}},"x-btx-authenticated":true}},"/conditional-orders":{"post":{"tags":["ConditionalOrders"],"description":"Create a new conditional order.","operationId":"ConditionalOrders_Create","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"newConditionalOrder","in":"body","description":"information specifying the conditional order to create","required":true,"schema":{"$ref":"#/definitions/NewConditionalOrder"}}],"responses":{"201":{"description":"Created","schema":{"$ref":"#/definitions/ConditionalOrder"}}},"x-btx-authenticated":true}},"/currencies":{"get":{"tags":["Currencies"],"description":"List currencies.","operationId":"Currencies_List","consumes":[],"produces":["application/json"],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/Currency"}}}},"x-btx-request-example":"https://api.bittrex.com/v3/currencies"}},"/currencies/{symbol}":{"get":{"tags":["Currencies"],"description":"Retrieve info on a specified currency.","operationId":"Currencies_Get","consumes":[],"produces":["application/json"],"parameters":[{"name":"symbol","in":"path","description":"symbol of the currency to retrieve","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Currency"}}},"x-btx-request-example":"https://api.bittrex.com/v3/currencies/{symbol}"}},"/deposits/open":{"get":{"tags":["Deposits"],"description":"List open deposits. Results are sorted in inverse order of UpdatedAt, and are limited to the first 1000.","operationId":"Deposits_ListOpen","consumes":[],"produces":["application/json"],"parameters":[{"name":"status","in":"query","description":"filter by an open deposit status (optional)","required":false,"type":"string","enum":["PENDING"]},{"name":"currencySymbol","in":"query","description":"filter by currency (optional)","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/Deposit"}}}},"x-btx-authenticated":true,"x-btx-request-example":"https://api.bittrex.com/v3/deposits/open"},"head":{"tags":["Deposits"],"description":"Get open deposits sequence.","operationId":"Deposits_GetOpenDepositsSequence","consumes":[],"produces":["application/json"],"responses":{"200":{"description":"OK"}},"x-btx-authenticated":true}},"/deposits/closed":{"get":{"tags":["Deposits"],"description":"List closed deposits. StartDate and EndDate filters apply to the CompletedAt field.\r\nPagination and the sort order of the results are in inverse order of the CompletedAt field.","operationId":"Deposits_ListClosed","consumes":[],"produces":["application/json"],"parameters":[{"name":"status","in":"query","description":"filter by deposit status (optional)","required":false,"type":"string","enum":["COMPLETED","ORPHANED","INVALIDATED"]},{"name":"currencySymbol","in":"query","description":"filter by currency (optional)","required":false,"type":"string"},{"name":"nextPageToken","in":"query","description":"The unique identifier of the item that the resulting query result should start after, in the sort order of the given endpoint.\r\nUsed for traversing a paginated set in the forward direction.\r\n(Optional. May only be specified if PreviousPageToken is not specified.)","required":false,"type":"string"},{"name":"previousPageToken","in":"query","description":"The unique identifier of the item that the resulting query result should end before, in the sort order of the given endpoint.\r\nUsed for traversing a paginated set in the reverse direction.\r\n(Optional. May only be specified if NextPageToken is not specified.)","required":false,"type":"string"},{"name":"pageSize","in":"query","description":"maximum number of items to retrieve -- default 100, minimum 1, maximum 200 (optional)","required":false,"type":"integer","format":"int32"},{"name":"startDate","in":"query","description":"(optional) Filters out results before this timestamp. In ISO 8601 format (e.g., \"2019-01-02T16:23:45Z\").\r\nPrecision beyond one second is not supported. Use pagination parameters for more precise filtering.","required":false,"type":"string","format":"date-time"},{"name":"endDate","in":"query","description":"(optional) Filters out result after this timestamp.  Uses the same format as StartDate.\r\nEither, both, or neither of StartDate and EndDate can be set.  The only constraint on the pair is that, \r\nif both are set, then EndDate cannot be before StartDate.","required":false,"type":"string","format":"date-time"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/Deposit"}}}},"x-btx-authenticated":true,"x-btx-request-example":"https://api.bittrex.com/v3/deposits/closed"}},"/deposits/ByTxId/{txId}":{"get":{"tags":["Deposits"],"description":"Retrieves all deposits for this account with the given TxId","operationId":"Deposits_ListByTxId","consumes":[],"produces":["application/json"],"parameters":[{"name":"txId","in":"path","description":"the transaction id to lookup","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/Deposit"}}}},"x-btx-authenticated":true,"x-btx-request-example":"https://api.bittrex.com/v3/deposits/ByTxId/{txId}"}},"/deposits/{depositId}":{"get":{"tags":["Deposits"],"description":"Retrieve information for a specific deposit.","operationId":"Deposits_Get","consumes":[],"produces":["application/json"],"parameters":[{"name":"depositId","in":"path","description":"_(uuid-formatted string)_ - ID of the deposit to retrieve","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Deposit"}}},"x-btx-authenticated":true,"x-btx-request-example":"https://api.bittrex.com/v3/deposits/{depositId}"}},"/markets":{"get":{"tags":["Markets"],"description":"List markets.","operationId":"Markets_List","consumes":[],"produces":["application/json"],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/Market"}}}},"x-btx-request-example":"https://api.bittrex.com/v3/markets"}},"/markets/summaries":{"get":{"tags":["Markets"],"description":"List summaries of the last 24 hours of activity for all markets.","operationId":"Markets_ListSummaries","consumes":[],"produces":["application/json"],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/MarketSummary"}}}},"x-btx-request-example":"https://api.bittrex.com/v3/markets/summaries"},"head":{"tags":["Markets"],"description":"Retrieve the current sequence number for the market summaries snapshot.","operationId":"Markets_GetSummariesNonce","consumes":[],"produces":["application/json"],"responses":{"200":{"description":"OK"}}}},"/markets/tickers":{"get":{"tags":["Markets"],"description":"List tickers for all markets.","operationId":"Markets_ListTickers","consumes":[],"produces":["application/json"],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/Ticker"}}}},"x-btx-request-example":"https://api.bittrex.com/v3/markets/tickers"},"head":{"tags":["Markets"],"description":"Retrieve the current sequence number for the tickers snapshot.","operationId":"Markets_GetTickersNonce","consumes":[],"produces":["application/json"],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/Ticker"}}}}}},"/markets/{marketSymbol}/ticker":{"get":{"tags":["Markets"],"description":"Retrieve the ticker for a specific market.","operationId":"Markets_GetMarketTicker","consumes":[],"produces":["application/json"],"parameters":[{"name":"marketSymbol","in":"path","description":"symbol of market to retrieve ticker for","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Ticker"}}},"x-btx-request-example":"https://api.bittrex.com/v3/markets/{marketSymbol}/ticker"}},"/markets/{marketSymbol}":{"get":{"tags":["Markets"],"description":"Retrieve information for a specific market.","operationId":"Markets_Get","consumes":[],"produces":["application/json"],"parameters":[{"name":"marketSymbol","in":"path","description":"symbol of market to retrieve","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Market"}}},"x-btx-request-example":"https://api.bittrex.com/v3/markets/{marketSymbol}"}},"/markets/{marketSymbol}/summary":{"get":{"tags":["Markets"],"description":"Retrieve summary of the last 24 hours of activity for a specific market.","operationId":"Markets_GetSummary","consumes":[],"produces":["application/json"],"parameters":[{"name":"marketSymbol","in":"path","description":"symbol of market to retrieve summary for","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/MarketSummary"}}},"x-btx-request-example":"https://api.bittrex.com/v3/markets/{marketSymbol}/summary"}},"/markets/{marketSymbol}/orderbook":{"get":{"tags":["Markets"],"description":"Retrieve the order book for a specific market.","operationId":"Markets_GetOrderBook","consumes":[],"produces":["application/json"],"parameters":[{"name":"marketSymbol","in":"path","description":"symbol of market to retrieve order book for","required":true,"type":"string"},{"name":"depth","in":"query","description":"maximum depth of order book to return (optional, allowed values are [1, 25, 500], default is 25)","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/OrderBook"}}},"x-btx-request-example":"https://api.bittrex.com/v3/markets/{marketSymbol}/orderbook"},"head":{"tags":["Markets"],"description":"Retrieve the current sequence number for the specified market's order book snapshot.","operationId":"Markets_GetOrderBookNonce","consumes":[],"produces":["application/json"],"parameters":[{"name":"marketSymbol","in":"path","description":"symbol of market to retrieve order book for","required":true,"type":"string"},{"name":"depth","in":"query","description":"maximum depth of order book to return (optional, allowed values are [1, 25, 500], default is 25)","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK"}}}},"/markets/{marketSymbol}/trades":{"get":{"tags":["Markets"],"description":"Retrieve the recent trades for a specific market.","operationId":"Markets_GetTrades","consumes":[],"produces":["application/json"],"parameters":[{"name":"marketSymbol","in":"path","description":"symbol of market to retrieve recent trades for","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/Trade"}}}},"x-btx-request-example":"https://api.bittrex.com/v3/markets/{marketSymbol}/trades"}},"/markets/{marketSymbol}/trade":{"head":{"tags":["Markets"],"description":"Retrieve the current sequence number for the specified market's recent trades snapshot.","operationId":"Markets_GetTradesNonce","consumes":[],"produces":["application/json"],"parameters":[{"name":"marketSymbol","in":"path","description":"symbol of market to retrieve order book for","required":true,"type":"string"}],"responses":{"200":{"description":"OK"}}}},"/markets/{marketSymbol}/candles/{candleInterval}/recent":{"get":{"tags":["Markets"],"description":"Retrieve recent candles for a specific market and candle interval.\r\nThe maximum age of the returned candles depends on the interval as follows:\r\n(MINUTE_1: 1 day, MINUTE_5: 1 day, HOUR_1: 31 days, DAY_1: 366 days).\r\nCandles for intervals without any trading activity are omitted.","operationId":"Markets_GetCandlesRecent","consumes":[],"produces":["application/json"],"parameters":[{"name":"marketSymbol","in":"path","description":"symbol of market to retrieve candles for","required":true,"type":"string"},{"name":"candleInterval","in":"path","description":"desired time interval between candles","required":true,"type":"string","enum":["MINUTE_1","MINUTE_5","HOUR_1","DAY_1"]}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/Candle"}}}}},"head":{"tags":["Markets"],"description":"Retrieve the current sequence number for the specified market's candles snapshot.","operationId":"Markets_GetCandlesSequence","consumes":[],"produces":["application/json"],"parameters":[{"name":"marketSymbol","in":"path","description":"symbol of market to retrieve candles for","required":true,"type":"string"},{"name":"candleInterval","in":"path","description":"desired time interval between candles","required":true,"type":"string","enum":["MINUTE_1","MINUTE_5","HOUR_1","DAY_1"]}],"responses":{"200":{"description":"OK"}}}},"/markets/{marketSymbol}/candles/{candleInterval}/historical/{year}/{month}/{day}":{"get":{"tags":["Markets"],"description":"Retrieve recent candles for a specific market and candle interval.\r\nThe date range of returned candles depends on the interval as follows:\r\n(MINUTE_1: 1 day, MINUTE_5: 1 day, HOUR_1: 31 days, DAY_1: 366 days).\r\nCandles for intervals without any trading activity are omitted.","operationId":"Markets_GetCandlesHistorical","consumes":[],"produces":["application/json"],"parameters":[{"name":"marketSymbol","in":"path","description":"symbol of market to retrieve candles for","required":true,"type":"string"},{"name":"candleInterval","in":"path","description":"desired time interval between candles","required":true,"type":"string","enum":["MINUTE_1","MINUTE_5","HOUR_1","DAY_1"]},{"name":"year","in":"path","description":"desired year to start from","required":true,"type":"integer","format":"int32"},{"name":"month","in":"path","description":"desired month to start from (if applicable)","required":true,"type":"integer","format":"int32"},{"name":"day","in":"path","description":"desired day to start from (if applicable)","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/Candle"}}}}}},"/orders/closed":{"get":{"tags":["Orders"],"description":"List closed orders.  \r\nStartDate and EndDate filters apply to the ClosedAt field.\r\nPagination and the sort order of the results are in inverse order of the ClosedAt field.","operationId":"Orders_ListClosed","consumes":[],"produces":["application/json"],"parameters":[{"name":"marketSymbol","in":"query","description":"filter by market (optional)","required":false,"type":"string"},{"name":"nextPageToken","in":"query","description":"The unique identifier of the item that the resulting query result should start after, in the sort order of the given endpoint.\r\nUsed for traversing a paginated set in the forward direction.\r\n(Optional. May only be specified if PreviousPageToken is not specified.)","required":false,"type":"string"},{"name":"previousPageToken","in":"query","description":"The unique identifier of the item that the resulting query result should end before, in the sort order of the given endpoint.\r\nUsed for traversing a paginated set in the reverse direction.\r\n(Optional. May only be specified if NextPageToken is not specified.)","required":false,"type":"string"},{"name":"pageSize","in":"query","description":"maximum number of items to retrieve -- default 100, minimum 1, maximum 200 (optional)","required":false,"type":"integer","format":"int32"},{"name":"startDate","in":"query","description":"(optional) Filters out results before this timestamp. In ISO 8601 format (e.g., \"2019-01-02T16:23:45Z\").\r\nPrecision beyond one second is not supported. Use pagination parameters for more precise filtering.","required":false,"type":"string","format":"date-time"},{"name":"endDate","in":"query","description":"(optional) Filters out result after this timestamp.  Uses the same format as StartDate.\r\nEither, both, or neither of StartDate and EndDate can be set.  The only constraint on the pair is that, \r\nif both are set, then EndDate cannot be before StartDate.","required":false,"type":"string","format":"date-time"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/Order"}}}},"x-btx-authenticated":true,"x-btx-request-example":"https://api.bittrex.com/v3/orders/closed"}},"/orders/open":{"get":{"tags":["Orders"],"description":"List open orders.","operationId":"Orders_ListOpen","consumes":[],"produces":["application/json"],"parameters":[{"name":"marketSymbol","in":"query","description":"filter by market (optional)","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/Order"}}}},"x-btx-authenticated":true,"x-btx-request-example":"https://api.bittrex.com/v3/orders/open"},"head":{"tags":["Orders"],"description":"Get sequence of open orders snapshot.","operationId":"Orders_GetOpenOrdersNonce","consumes":[],"produces":["application/json"],"responses":{"200":{"description":"OK"}},"x-btx-authenticated":true}},"/orders/{orderId}":{"get":{"tags":["Orders"],"description":"Retrieve information on a specific order.","operationId":"Orders_Get","consumes":[],"produces":["application/json"],"parameters":[{"name":"orderId","in":"path","description":"_(uuid-formatted string)_ - ID of order to retrieve","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Order"}}},"x-btx-authenticated":true,"x-btx-request-example":"https://api.bittrex.com/v3/orders/{orderId}"},"delete":{"tags":["Orders"],"description":"Cancel an order.","operationId":"Orders_Delete","consumes":[],"produces":["application/json"],"parameters":[{"name":"orderId","in":"path","description":"_(uuid-formatted string)_ - ID of order to cancel","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Order"}}},"x-btx-authenticated":true,"x-btx-request-example":"https://api.bittrex.com/v3/orders/{orderId}"}},"/orders/{orderId}/executions":{"get":{"tags":["Orders"],"description":"Retrieve executions for a specific order. Results are sorted in inverse order of execution time, and are limited to the first 1000.\r\nNOTE: Executions from before 5/27/2019 are not available. Also, there may be a delay before an executed trade is visible in this endpoint.","operationId":"Orders_GetOrderExecutions","consumes":[],"produces":["application/json"],"parameters":[{"name":"orderId","in":"path","description":"_(uuid-formatted string)_ - ID of order to retrieve executions for","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/Execution"}}}},"x-btx-authenticated":true}},"/orders":{"post":{"tags":["Orders"],"description":"Create a new order.","operationId":"Orders_Create","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"newOrder","in":"body","description":"information specifying the order to create","required":true,"schema":{"$ref":"#/definitions/NewOrder"}}],"responses":{"201":{"description":"Created","schema":{"$ref":"#/definitions/Order"}}},"x-btx-authenticated":true,"x-btx-request-example":"https://api.bittrex.com/v3/orders"}},"/ping":{"get":{"tags":["Ping"],"description":"Pings the service","operationId":"Ping_Get","consumes":[],"produces":["application/json"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ServicePing"}}},"x-btx-request-example":"https://api.bittrex.com/v3/ping"}},"/subaccounts":{"get":{"tags":["Subaccounts"],"description":"List subaccounts. _(NOTE: This API is limited to partners and not available for traders.)_\r\nPagination and the sort order of the results are in inverse order of the CreatedAt field.","operationId":"Subaccounts_List","consumes":[],"produces":["application/json"],"parameters":[{"name":"nextPageToken","in":"query","description":"The unique identifier of the item that the resulting query result should start after, in the sort order of the given endpoint.\r\nUsed for traversing a paginated set in the forward direction.\r\n(Optional. May only be specified if PreviousPageToken is not specified.)","required":false,"type":"string"},{"name":"previousPageToken","in":"query","description":"The unique identifier of the item that the resulting query result should end before, in the sort order of the given endpoint.\r\nUsed for traversing a paginated set in the reverse direction.\r\n(Optional. May only be specified if NextPageToken is not specified.)","required":false,"type":"string"},{"name":"pageSize","in":"query","description":"maximum number of items to retrieve -- default 100, minimum 1, maximum 200 (optional)","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/Subaccount"}}}},"x-btx-authenticated":true,"x-btx-request-example":"https://api.bittrex.com/v3/subaccounts"},"post":{"tags":["Subaccounts"],"description":"Create a new subaccount. _(NOTE: This API is limited to partners and not available for traders.)_","operationId":"Subaccounts_Create","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"newSubaccount","in":"body","description":"information specifying the subaccount to create","required":true,"schema":{"$ref":"#/definitions/NewSubaccount"}}],"responses":{"201":{"description":"Created","schema":{"$ref":"#/definitions/Subaccount"}}},"x-btx-authenticated":true,"x-btx-request-example":"https://api.bittrex.com/v3/subaccounts"}},"/subaccounts/{subaccountId}":{"get":{"tags":["Subaccounts"],"description":"Retrieve details for a specified subaccount. _(NOTE: This API is limited to partners and not available for traders.)_","operationId":"Subaccounts_Get","consumes":[],"produces":["application/json"],"parameters":[{"name":"subaccountId","in":"path","description":"_(uuid-formatted string)_ - ID of the subaccount to retrieve details for","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Subaccount"}}},"x-btx-authenticated":true,"x-btx-request-example":"https://api.bittrex.com/v3/subaccounts/{subaccountId}"}},"/transfers/sent":{"get":{"tags":["Transfers"],"description":"List sent transfers.(NOTE: This API is limited to partners and not available for traders.)\r\nPagination and the sort order of the results are in inverse order of the Executed field.","operationId":"Transfers_ListSent","consumes":[],"produces":["application/json"],"parameters":[{"name":"toSubaccountId","in":"query","description":"_(uuid-formatted string)_ - filter transfers to a sub account id (optional)","required":false,"type":"string","format":"uuid"},{"name":"toMasterAccount","in":"query","description":"filter transfers to master account (optional)","required":false,"type":"boolean"},{"name":"currencySymbol","in":"query","description":"filter by currency (optional)","required":false,"type":"string"},{"name":"nextPageToken","in":"query","description":"The unique identifier of the item that the resulting query result should start after, in the sort order of the given endpoint.\r\nUsed for traversing a paginated set in the forward direction.\r\n(Optional. May only be specified if PreviousPageToken is not specified.)","required":false,"type":"string"},{"name":"previousPageToken","in":"query","description":"The unique identifier of the item that the resulting query result should end before, in the sort order of the given endpoint.\r\nUsed for traversing a paginated set in the reverse direction.\r\n(Optional. May only be specified if NextPageToken is not specified.)","required":false,"type":"string"},{"name":"pageSize","in":"query","description":"maximum number of items to retrieve -- default 100, minimum 1, maximum 200 (optional)","required":false,"type":"integer","format":"int32"},{"name":"startDate","in":"query","description":"(optional) Filters out results before this timestamp. In ISO 8601 format (e.g., \"2019-01-02T16:23:45Z\").\r\nPrecision beyond one second is not supported. Use pagination parameters for more precise filtering.","required":false,"type":"string","format":"date-time"},{"name":"endDate","in":"query","description":"(optional) Filters out result after this timestamp.  Uses the same format as StartDate.\r\nEither, both, or neither of StartDate and EndDate can be set.  The only constraint on the pair is that, \r\nif both are set, then EndDate cannot be before StartDate.","required":false,"type":"string","format":"date-time"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/SentTransferInfo"}}}},"x-btx-authenticated":true,"x-btx-request-example":"https://api.bittrex.com/v3/transfers/sent"}},"/transfers/received":{"get":{"tags":["Transfers"],"description":"List received transfers.(NOTE: This API is limited to partners and not available for traders.)\r\nPagination and the sort order of the results are in inverse order of the Executed field.","operationId":"Transfers_ListReceived","consumes":[],"produces":["application/json"],"parameters":[{"name":"fromSubaccountId","in":"query","description":"_(uuid-formatted string)_ - filter transfers from a sub account id (optional)","required":false,"type":"string","format":"uuid"},{"name":"fromMasterAccount","in":"query","description":"filter transfers from master account (optional)","required":false,"type":"boolean"},{"name":"currencySymbol","in":"query","description":"filter by currency (optional)","required":false,"type":"string"},{"name":"nextPageToken","in":"query","description":"The unique identifier of the item that the resulting query result should start after, in the sort order of the given endpoint.\r\nUsed for traversing a paginated set in the forward direction.\r\n(Optional. May only be specified if PreviousPageToken is not specified.)","required":false,"type":"string"},{"name":"previousPageToken","in":"query","description":"The unique identifier of the item that the resulting query result should end before, in the sort order of the given endpoint.\r\nUsed for traversing a paginated set in the reverse direction.\r\n(Optional. May only be specified if NextPageToken is not specified.)","required":false,"type":"string"},{"name":"pageSize","in":"query","description":"maximum number of items to retrieve -- default 100, minimum 1, maximum 200 (optional)","required":false,"type":"integer","format":"int32"},{"name":"startDate","in":"query","description":"(optional) Filters out results before this timestamp. In ISO 8601 format (e.g., \"2019-01-02T16:23:45Z\").\r\nPrecision beyond one second is not supported. Use pagination parameters for more precise filtering.","required":false,"type":"string","format":"date-time"},{"name":"endDate","in":"query","description":"(optional) Filters out result after this timestamp.  Uses the same format as StartDate.\r\nEither, both, or neither of StartDate and EndDate can be set.  The only constraint on the pair is that, \r\nif both are set, then EndDate cannot be before StartDate.","required":false,"type":"string","format":"date-time"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/ReceivedTransferInfo"}}}},"x-btx-authenticated":true,"x-btx-request-example":"https://api.bittrex.com/v3/transfers/received"}},"/transfers/{transferId}":{"get":{"tags":["Transfers"],"description":"Retrieve information on the specified transfer.(NOTE: This API is limited to partners and not available for traders.)","operationId":"Transfers_Get","consumes":[],"produces":["application/json"],"parameters":[{"name":"transferId","in":"path","description":"_(uuid-formatted string)_ - ID of the transfer to retrieve","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ReceivedTransferInfo"}}},"x-btx-authenticated":true,"x-btx-request-example":"https://api.bittrex.com/v3/transfers/{transferId}"}},"/transfers":{"post":{"tags":["Transfers"],"description":"Executes a new transfer.(NOTE: This API is limited to partners and not available for traders.)","operationId":"Transfers_Create","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"newTransfer","in":"body","description":"information specifying the transfer to execute","required":true,"schema":{"$ref":"#/definitions/NewTransfer"}}],"responses":{"201":{"description":"Created","schema":{"$ref":"#/definitions/NewTransfer"}}},"x-btx-authenticated":true,"x-btx-request-example":"https://api.bittrex.com/v3/transfers"}},"/withdrawals/open":{"get":{"tags":["Withdrawals"],"description":"List open withdrawals.  Results are sorted in inverse order of the CreatedAt field, and are limited to the first 1000.","operationId":"Withdrawals_ListOpen","consumes":[],"produces":["application/json"],"parameters":[{"name":"status","in":"query","description":"filter by an open withdrawal status (optional)","required":false,"type":"string","enum":["REQUESTED","AUTHORIZED","PENDING","ERROR_INVALID_ADDRESS"]},{"name":"currencySymbol","in":"query","description":"filter by currency (optional)","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/Withdrawal"}}}},"x-btx-authenticated":true,"x-btx-request-example":"https://api.bittrex.com/v3/withdrawals/open"}},"/withdrawals/closed":{"get":{"tags":["Withdrawals"],"description":"List closed withdrawals.  StartDate and EndDate filters apply to the CompletedAt field.\r\nPagination and the sort order of the results are in inverse order of the CompletedAt field.","operationId":"Withdrawals_ListClosed","consumes":[],"produces":["application/json"],"parameters":[{"name":"status","in":"query","description":"filter by withdrawal status (optional)","required":false,"type":"string","enum":["COMPLETED","CANCELLED"]},{"name":"currencySymbol","in":"query","description":"filter by currency (optional)","required":false,"type":"string"},{"name":"nextPageToken","in":"query","description":"The unique identifier of the item that the resulting query result should start after, in the sort order of the given endpoint.\r\nUsed for traversing a paginated set in the forward direction.\r\n(Optional. May only be specified if PreviousPageToken is not specified.)","required":false,"type":"string"},{"name":"previousPageToken","in":"query","description":"The unique identifier of the item that the resulting query result should end before, in the sort order of the given endpoint.\r\nUsed for traversing a paginated set in the reverse direction.\r\n(Optional. May only be specified if NextPageToken is not specified.)","required":false,"type":"string"},{"name":"pageSize","in":"query","description":"maximum number of items to retrieve -- default 100, minimum 1, maximum 200 (optional)","required":false,"type":"integer","format":"int32"},{"name":"startDate","in":"query","description":"(optional) Filters out results before this timestamp. In ISO 8601 format (e.g., \"2019-01-02T16:23:45Z\").\r\nPrecision beyond one second is not supported. Use pagination parameters for more precise filtering.","required":false,"type":"string","format":"date-time"},{"name":"endDate","in":"query","description":"(optional) Filters out result after this timestamp.  Uses the same format as StartDate.\r\nEither, both, or neither of StartDate and EndDate can be set.  The only constraint on the pair is that, \r\nif both are set, then EndDate cannot be before StartDate.","required":false,"type":"string","format":"date-time"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/Withdrawal"}}}},"x-btx-authenticated":true,"x-btx-request-example":"https://api.bittrex.com/v3/withdrawals/closed"}},"/withdrawals/ByTxId/{txId}":{"get":{"tags":["Withdrawals"],"description":"Retrieves all withdrawals for this account with the given TxId","operationId":"Withdrawals_ListByTxId","consumes":[],"produces":["application/json"],"parameters":[{"name":"txId","in":"path","description":"the transaction id to lookup","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/Withdrawal"}}}},"x-btx-authenticated":true,"x-btx-request-example":"https://api.bittrex.com/v3/withdrawals/ByTxId/{txId}"}},"/withdrawals/{withdrawalId}":{"get":{"tags":["Withdrawals"],"description":"Retrieve information on a specified withdrawal.","operationId":"Withdrawals_Get","consumes":[],"produces":["application/json"],"parameters":[{"name":"withdrawalId","in":"path","description":"_(uuid-formatted string)_ - ID of withdrawal to retrieve","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Withdrawal"}}},"x-btx-authenticated":true,"x-btx-request-example":"https://api.bittrex.com/v3/withdrawals/{withdrawalId}"},"delete":{"tags":["Withdrawals"],"description":"Cancel a withdrawal. (Withdrawals can only be cancelled if status is REQUESTED, AUTHORIZED, or ERROR_INVALID_ADDRESS.)","operationId":"Withdrawals_Delete","consumes":[],"produces":["application/json"],"parameters":[{"name":"withdrawalId","in":"path","description":"_(uuid-formatted string)_ - ID of withdrawal to cancel","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Withdrawal"}}},"x-btx-authenticated":true,"x-btx-request-example":"https://api.bittrex.com/v3/withdrawals/{withdrawalId}"}},"/withdrawals":{"post":{"tags":["Withdrawals"],"description":"Create a new withdrawal.","operationId":"Withdrawals_Create","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"newWithdrawal","in":"body","description":"information specifying the withdrawal to create","required":true,"schema":{"$ref":"#/definitions/NewWithdrawal"}}],"responses":{"201":{"description":"Created","schema":{"$ref":"#/definitions/Withdrawal"}}},"x-btx-authenticated":true,"x-btx-request-example":"https://api.bittrex.com/v3/withdrawals"}},"/withdrawals/whitelistAddresses":{"get":{"tags":["Withdrawals"],"description":"Returns a list of white listed addresses.","operationId":"Withdrawals_WhitelistAddresses","consumes":[],"produces":["application/json"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/WhiteListAddress"}}},"x-btx-authenticated":true}}},"definitions":{"Account":{"type":"object","properties":{"subaccountId":{"format":"uuid","description":"the subaccount ID associated with this request if one was specified in the header (optional)","type":"string"},"accountId":{"format":"uuid","description":"The account ID associated with this request only for master accounts","type":"string"}}},"AccountVolume":{"type":"object","properties":{"updated":{"format":"date-time","description":"Date and time indicating as when volume was updated","type":"string"},"volume30days":{"format":"double","description":"30 day volume information.","type":"number"}}},"Address":{"required":["status","currencySymbol"],"type":"object","properties":{"status":{"description":"the status of this deposit address","enum":["REQUESTED","PROVISIONED"],"type":"string"},"currencySymbol":{"description":"the unique ID of the currency this deposit address is for","type":"string"},"cryptoAddress":{"description":"the cryptographic deposit address (optional, only set if Status is PROVISIONED)","type":"string"},"cryptoAddressTag":{"description":"the cryptographic deposit address tag (optional, only set if Status is PROVISIONED)\r\nNOTE: This only applies for currencies whose coinType requires it.","type":"string"}}},"NewAddress":{"required":["currencySymbol"],"type":"object","properties":{"currencySymbol":{"description":"the currency ID to provision a new address for","type":"string"}}},"Balance":{"required":["currencySymbol","total","available","updatedAt"],"type":"object","properties":{"currencySymbol":{"description":"unique ID for the currency this balance is associated with","type":"string"},"total":{"format":"double","description":"total amount","type":"number"},"available":{"format":"double","description":"available amount","type":"number"},"updatedAt":{"format":"date-time","description":"time stamp when this balance was last updated","type":"string"}}},"ConditionalOrder":{"required":["id","marketSymbol","operand","status","createdAt"],"type":"object","properties":{"id":{"format":"uuid","description":"unique ID of this order, assigned by the service\r\nNote that this ID is completely unrelated to the optional clientConditionalOrderId.","type":"string"},"marketSymbol":{"description":"unique symbol of the market this conditional order will be tracking","type":"string"},"operand":{"description":"price above (GTE) or below (LTE) which the conditional order will trigger\r\nThis value will be set automatically if trailingStopPercent is specified.\r\n(either this or trailingStopPercent must be specified)","enum":["LTE","GTE"],"type":"string"},"triggerPrice":{"format":"double","description":"percent above the minimum price (GTE) or below the maximum price (LTE) at which to trigger\r\n(either this or triggerPrice must be specified)","type":"number"},"trailingStopPercent":{"format":"double","description":"The stop price will automatically adjust relative to the most extreme trade value seen.\r\n(either this or trigger price must be specified)","type":"number"},"createdOrderId":{"format":"uuid","description":"unique ID of the order that was created by this conditional, if there is one","type":"string"},"orderToCreate":{"$ref":"#/definitions/NewOrder","description":"order to create if this conditional order is triggered"},"orderToCancel":{"$ref":"#/definitions/NewCancelConditionalOrder","description":"order or conditional order to cancel if this conditional order triggers\r\nNote that this relationship is reciprocal."},"clientConditionalOrderId":{"format":"uuid","description":"client-provided identifier for idempotency (optional)","type":"string"},"status":{"description":"conditional order status","enum":["OPEN","COMPLETED","CANCELLED","FAILED"],"type":"string"},"orderCreationErrorCode":{"description":"if a conditional order fails to create an order when triggered, the failure reason will appear here","type":"string"},"createdAt":{"format":"date-time","description":"timestamp (UTC) of order creation (always present)","type":"string"},"updatedAt":{"format":"date-time","description":"timestamp (UTC) of last order update (optional)","type":"string"},"closedAt":{"format":"date-time","description":"timestamp (UTC) when this order was closed (optional)","type":"string"}}},"NewOrder":{"required":["marketSymbol","direction","type","timeInForce"],"type":"object","properties":{"marketSymbol":{"description":"unique symbol of the market this order is being placed on","type":"string"},"direction":{"description":"order direction","enum":["BUY","SELL"],"type":"string"},"type":{"description":"order type","enum":["LIMIT","MARKET","CEILING_LIMIT","CEILING_MARKET"],"type":"string"},"quantity":{"format":"double","description":"quantity (optional, must be included for non-ceiling orders and excluded for ceiling orders)","type":"number"},"ceiling":{"format":"double","description":"ceiling (optional, must be included for ceiling orders and excluded for non-ceiling orders)","type":"number"},"limit":{"format":"double","description":"limit (optional, must be included for LIMIT orders and excluded for MARKET orders)","type":"number"},"timeInForce":{"description":"time in force","enum":["GOOD_TIL_CANCELLED","IMMEDIATE_OR_CANCEL","FILL_OR_KILL","POST_ONLY_GOOD_TIL_CANCELLED","BUY_NOW"],"type":"string"},"clientOrderId":{"format":"uuid","description":"client-provided identifier for advanced order tracking (optional)","type":"string"},"useAwards":{"description":"option to use Bittrex credits for the order (optional)","type":"boolean"}}},"NewCancelConditionalOrder":{"required":["type"],"type":"object","properties":{"type":{"description":"type of order to cancel","enum":["ORDER","CONDITIONAL_ORDER"],"type":"string"},"id":{"format":"uuid","description":"uuid of the order or conditional order to cancel","type":"string"}}},"PaginationParameters":{"type":"object","properties":{"nextPageToken":{"description":"The unique identifier of the item that the resulting query result should start after, in the sort order of the given endpoint.\r\nUsed for traversing a paginated set in the forward direction.\r\n(Optional. May only be specified if PreviousPageToken is not specified.)","type":"string"},"previousPageToken":{"description":"The unique identifier of the item that the resulting query result should end before, in the sort order of the given endpoint.\r\nUsed for traversing a paginated set in the reverse direction.\r\n(Optional. May only be specified if NextPageToken is not specified.)","type":"string"},"pageSize":{"format":"int32","description":"maximum number of items to retrieve -- default 100, minimum 1, maximum 200 (optional)","type":"integer"}}},"DateFilter":{"type":"object","properties":{"startDate":{"format":"date-time","description":"(optional) Filters out results before this timestamp. In ISO 8601 format (e.g., \"2019-01-02T16:23:45Z\").\r\nPrecision beyond one second is not supported. Use pagination parameters for more precise filtering.","type":"string"},"endDate":{"format":"date-time","description":"(optional) Filters out result after this timestamp.  Uses the same format as StartDate.\r\nEither, both, or neither of StartDate and EndDate can be set.  The only constraint on the pair is that, \r\nif both are set, then EndDate cannot be before StartDate.","type":"string"}}},"NewConditionalOrder":{"required":["marketSymbol","operand"],"type":"object","properties":{"marketSymbol":{"description":"unique symbol of the market this conditional order will be tracking","type":"string"},"operand":{"description":"price above (GTE) or below (LTE) which the conditional order will trigger\r\nThis value will be set automatically if trailingStopPercent is specified.\r\n(either this or trailingStopPercent must be specified)","enum":["LTE","GTE"],"type":"string"},"triggerPrice":{"format":"double","description":"percent above the minimum price (GTE) or below the maximum price (LTE) at which to trigger\r\n(either this or triggerPrice must be specified)","type":"number"},"trailingStopPercent":{"format":"double","description":"The stop price will automatically adjust relative to the most extreme trade value seen.\r\n(either this or trigger price must be specified)","type":"number"},"orderToCreate":{"$ref":"#/definitions/NewOrder","description":"order to create if this conditional order is triggered"},"orderToCancel":{"$ref":"#/definitions/NewCancelConditionalOrder","description":"order or conditional order to cancel if this conditional order triggers\r\nNote that this relationship is reciprocal."},"clientConditionalOrderId":{"format":"uuid","description":"client-provided identifier for idempotency (optional)","type":"string"}}},"Currency":{"type":"object","properties":{"symbol":{"description":"unique symbol for this currency","type":"string"},"name":{"description":"long name of this currency","type":"string"},"coinType":{"description":"coin type of this currency","type":"string"},"status":{"description":"currency status (online, offline, etc.)","enum":["ONLINE","OFFLINE"],"type":"string"},"minConfirmations":{"format":"int32","description":"minimum number of confirmations","type":"integer"},"notice":{"description":"news or alerts regarding this currency","type":"string"},"txFee":{"format":"double","description":"transaction fee for this currency","type":"number"},"logoUrl":{"description":"url to the logo image for this currency, if available","type":"string"},"prohibitedIn":{"description":"list of prohibited regions. empty if its not restricted.","type":"array","items":{"enum":["US"],"type":"string"}}}},"Deposit":{"required":["id","currencySymbol","quantity","cryptoAddress","confirmations","updatedAt","status"],"type":"object","properties":{"id":{"format":"uuid","description":"unique ID for this deposit, assigned by the service","type":"string"},"currencySymbol":{"description":"unique symbol of the currency being deposited to","type":"string"},"quantity":{"format":"double","description":"quantity to deposit","type":"number"},"cryptoAddress":{"description":"crypto address for this deposit","type":"string"},"cryptoAddressTag":{"description":"crypto address tag for this deposit (optional, depends on the coin type of currency being deposited)","type":"string"},"txId":{"description":"TxID for the deposit (optional)","type":"string"},"confirmations":{"format":"int32","description":"current count of confirmations","type":"integer"},"updatedAt":{"format":"date-time","description":"time stamp when this deposit was last updated","type":"string"},"completedAt":{"format":"date-time","description":"time stamp when this deposit was completed (optional, only set when status is COMPLETED)","type":"string"},"status":{"description":"current status of this deposit","enum":["PENDING","COMPLETED","ORPHANED","INVALIDATED"],"type":"string"},"source":{"description":"source of the deposit","enum":["BLOCKCHAIN","WIRE_TRANSFER","CREDIT_CARD"],"type":"string"}}},"Market":{"type":"object","properties":{"symbol":{"description":"unique symbol for this market","type":"string"},"baseCurrencySymbol":{"description":"unique symbol for base currency","type":"string"},"quoteCurrencySymbol":{"description":"unique symbol for quote currency","type":"string"},"minTradeSize":{"format":"double","description":"minimum trade size","type":"number"},"precision":{"format":"int32","description":"maximum allowed precision for the limit price on an order","type":"integer"},"status":{"description":"true if this market is currently active","enum":["ONLINE","OFFLINE"],"type":"string"},"createdAt":{"format":"date-time","description":"timestamp in UTC when this market was created","type":"string"},"notice":{"description":"notice or alert info","type":"string"},"prohibitedIn":{"description":"list of prohibited regions. empty if its not restricted.","type":"array","items":{"enum":["US"],"type":"string"}}}},"MarketSummary":{"required":["symbol","high","low","volume","quoteVolume","percentChange","updatedAt"],"type":"object","properties":{"symbol":{"description":"unique symbol for this market","type":"string"},"high":{"format":"double","description":"highest price of a trade that occurred within the last 24 hours\r\n(or zero if there were no trades)","type":"number"},"low":{"format":"double","description":"lowest price of a trade that occurred within the last 24 hours\r\n(or zero if there were no trades)","type":"number"},"volume":{"format":"double","description":"volume within the last 24 hours","type":"number"},"quoteVolume":{"format":"double","description":"quote volume within the last 24 hours","type":"number"},"percentChange":{"format":"double","description":"percentage change of the exchange rate over the last 24 hours (positive or negative)","type":"number"},"updatedAt":{"format":"date-time","description":"timestamp in UTC when market summary was last updated","type":"string"}}},"Ticker":{"required":["lastTradeRate","bidRate","askRate"],"type":"object","properties":{"symbol":{"description":"unique symbol for this market","type":"string"},"lastTradeRate":{"format":"double","description":"price of the last trade\r\n(or zero if there were no trades)","type":"number"},"bidRate":{"format":"double","description":"rate of the current best bid\r\n(or zero if there are no bids)","type":"number"},"askRate":{"format":"double","description":"rate of the current best ask\r\n(or zero if there are no asks)","type":"number"}}},"OrderBook":{"required":["bid","ask"],"type":"object","properties":{"bid":{"description":"buy entries","type":"array","items":{"$ref":"#/definitions/OrderBookEntry"}},"ask":{"description":"sell entries","type":"array","items":{"$ref":"#/definitions/OrderBookEntry"}}}},"OrderBookEntry":{"required":["quantity","rate"],"type":"object","properties":{"quantity":{"format":"double","description":"quantity","type":"number"},"rate":{"format":"double","description":"rate","type":"number"}}},"Trade":{"required":["id","executedAt","quantity","rate","takerSide"],"type":"object","properties":{"id":{"format":"uuid","description":"unique ID of this trade, assigned by the service (always present)","type":"string"},"executedAt":{"format":"date-time","description":"timestamp in UTC when order was filled","type":"string"},"quantity":{"format":"double","description":"quantity","type":"number"},"rate":{"format":"double","description":"rate","type":"number"},"takerSide":{"description":"taker side (specifies whether the taker was the buy or sellside)","enum":["BUY","SELL"],"type":"string"}}},"Candle":{"required":["startsAt","open","high","low","close","volume","quoteVolume"],"type":"object","properties":{"startsAt":{"format":"date-time","description":"time stamp in UTC for when this candle's time interval starts","type":"string"},"open":{"format":"double","description":"open","type":"number"},"high":{"format":"double","description":"high","type":"number"},"low":{"format":"double","description":"low","type":"number"},"close":{"format":"double","description":"close","type":"number"},"volume":{"format":"double","description":"volume","type":"number"},"quoteVolume":{"format":"double","description":"quoute volume","type":"number"}}},"Order":{"required":["id","marketSymbol","direction","type","timeInForce","fillQuantity","commission","proceeds","status","createdAt"],"type":"object","properties":{"id":{"format":"uuid","description":"unique ID of this order, assigned by the service (always present)\r\nNote that this ID is completely unrelated to the optional ClientOrderId.","type":"string"},"marketSymbol":{"description":"unique symbol of the market this order is being placed on (always present, matches the field in NewOrder)","type":"string"},"direction":{"description":"order direction (always present, matches the field in NewOrder)","enum":["BUY","SELL"],"type":"string"},"type":{"description":"order type (always present, matches the field in NewOrder)","enum":["LIMIT","MARKET","CEILING_LIMIT","CEILING_MARKET"],"type":"string"},"quantity":{"format":"double","description":"quantity (optional, matches the field in NewOrder)","type":"number"},"limit":{"format":"double","description":"limit price (optional, matches the field in NewOrder)","type":"number"},"ceiling":{"format":"double","description":"ceiling (optional, matches the field in NewOrder)","type":"number"},"timeInForce":{"description":"time in force (always present, matches the field in NewOrder)","enum":["GOOD_TIL_CANCELLED","IMMEDIATE_OR_CANCEL","FILL_OR_KILL","POST_ONLY_GOOD_TIL_CANCELLED","BUY_NOW"],"type":"string"},"clientOrderId":{"format":"uuid","description":"client-provided identifier for advanced order tracking (optional, matches the field in NewOrder)","type":"string"},"fillQuantity":{"format":"double","description":"fill quantity (always present, even when there is no fill)","type":"number"},"commission":{"format":"double","description":"commission (always present, even when there is no fill)","type":"number"},"proceeds":{"format":"double","description":"proceeds (always present, even when there is no fill)","type":"number"},"status":{"description":"order status (always present)","enum":["OPEN","CLOSED"],"type":"string"},"createdAt":{"format":"date-time","description":"timestamp (UTC) of order creation (always present)","type":"string"},"updatedAt":{"format":"date-time","description":"timestamp (UTC) of last order update (optional)","type":"string"},"closedAt":{"format":"date-time","description":"timestamp (UTC) when this order was closed (optional)","type":"string"},"orderToCancel":{"$ref":"#/definitions/NewCancelConditionalOrder","description":"conditional order to cancel if this order executes\r\nNote that this relationship is reciprocal."}}},"Execution":{"required":["id","marketSymbol","executedAt","quantity","rate","orderId","commission","isTaker"],"type":"object","properties":{"id":{"format":"uuid","description":"unique ID of this execution, assigned by the service","type":"string"},"marketSymbol":{"description":"market symbol where this execution took place","type":"string"},"executedAt":{"format":"date-time","description":"time when the execution was processed","type":"string"},"quantity":{"format":"double","description":"quantity traded during this execution","type":"number"},"rate":{"format":"double","description":"rate at which this trade was executed","type":"number"},"orderId":{"format":"uuid","description":"order ID associated with this execution","type":"string"},"commission":{"format":"double","description":"commission charged for this execution","type":"number"},"isTaker":{"description":"true if the order ID specified was the taker for this execution, otherwise false","type":"boolean"}}},"ServicePing":{"required":["serverTime"],"type":"object","properties":{"serverTime":{"format":"int64","description":"Server time in epoch millisecond format, rounded down to the nearest second.\r\nThe same format must be used in the Api-Timestamp header of authenticated requests.","type":"integer"}}},"Subaccount":{"required":["id","createdAt"],"type":"object","properties":{"id":{"format":"uuid","description":"unique ID of this subaccount","type":"string"},"createdAt":{"format":"date-time","description":"timestamp when this subaccount was created","type":"string"}}},"NewSubaccount":{"type":"object","properties":{}},"SentTransferInfo":{"required":["toSubaccountId","id","currencySymbol","amount","executedAt"],"type":"object","properties":{"toSubaccountId":{"format":"uuid","description":"receiver account ID","type":"string"},"toMasterAccount":{"description":"transfer to master account","type":"boolean"},"id":{"format":"uuid","description":"unique ID for this transfer","type":"string"},"requestId":{"format":"uuid","description":"client transfer id","type":"string"},"currencySymbol":{"description":"currency symbol transfered","type":"string"},"amount":{"format":"double","description":"amount transfered","type":"number"},"executedAt":{"format":"date-time","description":"time stamp when this transfer was executed","type":"string"}}},"ReceivedTransferInfo":{"required":["fromSubaccountId","id","currencySymbol","amount","executedAt"],"type":"object","properties":{"fromSubaccountId":{"format":"uuid","description":"sender account ID","type":"string"},"fromMasterAccount":{"description":"transfer from master account","type":"boolean"},"id":{"format":"uuid","description":"unique ID for this transfer","type":"string"},"requestId":{"format":"uuid","description":"client transfer id","type":"string"},"currencySymbol":{"description":"currency symbol transfered","type":"string"},"amount":{"format":"double","description":"amount transfered","type":"number"},"executedAt":{"format":"date-time","description":"time stamp when this transfer was executed","type":"string"}}},"NewTransfer":{"required":["currencySymbol","amount"],"type":"object","properties":{"toSubaccountId":{"format":"uuid","description":"receiver account ID","type":"string"},"requestId":{"format":"uuid","description":"client transfer id","type":"string"},"currencySymbol":{"description":"currency symbol transfered","type":"string"},"amount":{"format":"double","description":"amount transfered","type":"number"},"toMasterAccount":{"description":"transfer to master account","type":"boolean"}}},"Withdrawal":{"required":["id","currencySymbol","quantity","cryptoAddress","status","createdAt"],"type":"object","properties":{"id":{"format":"uuid","description":"unique ID for this withdrawal, assigned by the service (always present)","type":"string"},"currencySymbol":{"description":"unique symbol of currency to withdraw (always present, matches the field in NewWithdrawal)","type":"string"},"quantity":{"format":"double","description":"quantity to withdraw (always present, matches the field in NewWithdrawal)","type":"number"},"cryptoAddress":{"description":"crypto address for this withdrawal (always present, matches the field in NewWithdrawal)","type":"string"},"cryptoAddressTag":{"description":"custom message further specifying how to complete the withdrawal (optional, matches the field in NewWithdrawal)","type":"string"},"txCost":{"format":"double","description":"TxCost of this withdrawal (always present)","type":"number"},"txId":{"description":"TxID associated with this withdrawal (optional)","type":"string"},"status":{"description":"current status of this withdrawal (always present)","enum":["REQUESTED","AUTHORIZED","PENDING","COMPLETED","ERROR_INVALID_ADDRESS","CANCELLED"],"type":"string"},"createdAt":{"format":"date-time","description":"time stamp when this withdrawal was initiated (always present)","type":"string"},"completedAt":{"format":"date-time","description":"time stamp when this withdrawal was completed (optional)","type":"string"}}},"NewWithdrawal":{"required":["currencySymbol","quantity","cryptoAddress"],"type":"object","properties":{"currencySymbol":{"description":"unique symbol of the currency to withdraw from","type":"string"},"quantity":{"format":"double","description":"quantity to withdraw","type":"number"},"cryptoAddress":{"description":"crypto address to withdraw funds to","type":"string"},"cryptoAddressTag":{"description":"custom message further specifying how to complete the withdrawal\r\n(optional, depends on whether the cryptoAddress is sufficient for this currency)","type":"string"}}},"WhiteListAddress":{"required":["currencySymbol","createdAt","status","cryptoAddress"],"type":"object","properties":{"currencySymbol":{"description":"the unique ID of the currency for this withdrawal whitelist address","type":"string"},"createdAt":{"format":"date-time","description":"date and time this address was added to the whitelist","type":"string"},"status":{"description":"whether this address may currently be used for withdrawals or is pending the waiting period","enum":["ACTIVE","PENDING"],"type":"string"},"activeAt":{"format":"date-time","description":"date and time after which this address may be used for withdrawals","type":"string"},"cryptoAddress":{"description":"the cryptographic address that is allowed for withdrawals","type":"string"},"cryptoAddressTag":{"description":"the cryptographic address tag that is allowed for withdrawals (optional)","type":"string"}}},"DeleteOrder":{"description":"Payload for cancelling an existing order","required":["id"],"type":"object","properties":{"id":{"format":"uuid","description":"order Id to be cancelled.","type":"string"}}},"Error":{"required":["code"],"type":"object","properties":{"code":{"description":"error code associated with this particular error","type":"string"},"detail":{"description":"additional information describing the error and/or the included data (optional)","type":"string"},"data":{"description":"a set of key-value pairs containing data relevant to this particular error (optional)","type":"object"}}},"SocketResponse":{"required":["success"],"type":"object","properties":{"success":{"description":"true if the operation was successful, false otherwise","type":"boolean"},"errorCode":{"description":"failure reason","type":"string"}}}},"x-spectacle-topics":{"Change Log":{"description":"__06/17/2020__ \n- The v3 API has reached generally availability and is ready for production use!\n- You can now get the list of executed trades related to your orders from [GET /orders/{orderId}/executions](../../../api/v3#operation--orders--orderId--executions-get)\n\n- End of life for the v1 api is planned for 9/30/2020\n\n__06/10/2020__ \n\n- The baseVolume property was removed from MarketSummary and Candle responses. Use the quoteVolume property for quote volume or the volume property for base volume.\n\n__05/27/2020__ \n\n- Successful cancel withdrawal response will change from 204 with no content in the response body to a 200 with the cancelled withdrawal in the response body\n- Historical candles endpoint will no longer allow you to specify more portions of the date parameters than are necessary for the selected candle interval. Specify only year for day candles. Specify only year and month for hour candles.\n- GET /candles endpoint is deprecated and has been removed from the documentation. Use GET /candles/{interval}/recent instead. The response model is the same.\n\n__05/15/2020__ \n\n- v3 socket is now in public beta\n- May now trigger ceiling orders from conditional orders\n-Order object now includes the order's OCO partner (if applicable)\n- May now get whitelisted withdrawal addresses from `/withdrawals/whitelistAddresses`\n-Balance object now has an updatedAt timestamp\n-Markets and currencies now indicate if they are prohibited from use by US customers\n-You can now get your accountId from the account endpoint\n-Deposit object now includes whether a deposit source was blockchain, wire transfer, or credit card\n\n__01/27/2020__ \n\n - Conditional orders (e.g. stop loss) have been added to the V3 API Beta. See the new Placing Conditinal Orders section below for additional information.\n\n - Historical candles are now available in the API\n\n - The functionality of the existing candles endpoint has been duplicated into a candles/.../recent endpoint. The existing one will be retired in a future release. \n\nTo see changes from before this year, please visit the [change list](https://bittrex.zendesk.com/hc/en-us/sections/200567324-Changelist)."},"Upcoming Breaking Changes":{"description":"There are no further breaking changes planned."},"Known Issues":{"description":"- The trigger price shown on the website for trailing stop orders does not update automatically. The see the updated trigger price, refresh the page or query the api.\n\n- A conditional order cancelled via OCO will not automatically be removed from the list of open conditional orders on the website despite being cancelled. Refreshing the page will correct the issue."},"REST API Overview":{"description":"This section provides an overview of key concepts to understand when working with the Bittrex v3 REST API. \nKeep in mind the following: \n - Enable 2FA on your account. API Keys cannot be generated unless 2FA is enabled and extended verification is done on the account.\n - All REST requests must be sent to `https://api.bittrex.com/v3` using the `application/json` content type. Non-HTTPS requests will be redirected to HTTPS, possibly causing functional or performance issues with your application.","children":["Best Practices","Authentication","Pagination","Placing Orders","Placing Conditional Orders","Error Codes"]},"Best Practices":{"description":"### Call Limits\n The Bittrex API employs call limits on all endpoints to ensure the efficiency and availability of the platform for all customers. In general, API users are permitted to make a maximum of 60 API calls per minute. Calls after the limit will fail, with the limit resetting at the start of the next minute.\n\n __Note: Corporate and high-volume accounts may contact customer support for additional information to ensure that they may continue operating at an optimal level.__","childOf":"REST API Overview"},"Authentication":{"description":"### Overview\n In order to properly sign an authenticated request for the Bittrex v3 API, the following headers must be included:\n\n- `Api-Key`\n\n- `Api-Timestamp`\n\n- `Api-Content-Hash`\n\n- `Api-Signature`\n\n- `Api-Subaccount-Id (optional)`\n\n\nThe following sections are instructions for properly populating these headers.\n\n---\n #### Api-Key\nPopulate this header with your API key.\n\nExample Value:\n\n`4894xxxxxxxx407e827d05xxxxxxxxxx`\n\n---\n #### Api-Timestamp\nPopulate this header with the current time as a UNIX timestamp, in epoch-millisecond format.\n\nSample JS Code Snippet:\n\n``` javascript\nvar timestamp = new Date().getTime();\n```\n\nExample Value:\n\n`1542323450016`\n\n---\n #### Api-Content-Hash\nPopulate this header with a SHA512 hash of the request contents, Hex-encoded. If there are no request contents, populate this header with a SHA512 hash of an empty string.\n\nSample JS Code Snippet:\n\n``` javascript\nvar contentHash = CryptoJS.SHA512(content).toString(CryptoJS.enc.Hex);\n```\n\nExample Value:\n\n``` markdown\ncf83e1357eefb8bdf1542850d66d8007d620e4050b5715dc83f4a921d36ce9ce47d0d13c5d85f2b0ff8318d2877eec2f63b931bd47417a81a538327af927da3e\n```\n\n---\n #### Api-Subaccount-Id (Only for subaccount feature) \n(NOTE: This functionality is limited to partners and unavailable to general traders.)\n\nIf you wish to make a request on behalf of a subaccount, you will need to:\n\n1. Authenticate using all 4 of the headers above referring to your master account.\n2. Populate the Api-Subaccount-Id header with the UUID of the subaccount you wish to impersonate for this request. The specified subaccount *must* be a subaccount of the master account used to authenticate the request.\n3. Include the Api-Subaccount-Id header at the end of the pre-signed signature, as indicated in the next section.\n\nExample Value:\n\n`x111x11x-8968-48ac-b956-x1x11x111111`\n\n---\n #### Api-Signature\nCreate a pre-sign string formed from the following items and concatenating them together:\n1. Contents of your `Api-Timestamp` header\n2. The full URI you are using to make the request (including query string)\n3. The HTTP method of the request, in all caps (GET, POST, DELETE, etc.)  \n4. Contents of your `Api-Content-Hash` header \n5. Content of your `Api-Subaccount-Id` header (or an empty string if not present) \n\n\nOnce you have created this pre-sign string, sign it via HmacSHA512, using your API secret as the signing secret. Hex-encode the result of this operation and populate the `Api-Signature` header with it.\n\n\nSample JS Code Snippet:\n\n``` javascript\nvar uri = 'https://api.bittrex.com/v3/balances';\nvar preSign = [timestamp, uri, method, contentHash, subaccountId].join('');\nvar signature = CryptoJS.HmacSHA512(preSign, apiSecret).toString(CryptoJS.enc.Hex);\n```\n\nExample Pre-Signed Value (no subaccount)\n\n``` markdown\n1542323450016https://api.bittrex.com/v3/balancesGETcf83e1357eefb8bdf1542850d66d8007d620e4050b5715dc83f4a921d36ce9ce47d0d13c5d85f2b0ff8318d2877eec2f63b931bd47417a81a538327af927da3e\n```\n\nExample Pre-Signed Value (with subaccount)\n\n``` markdown\n1542323450016https://api.bittrex.com/v3/balancesGETcf83e1357eefb8bdf1542850d66d8007d620e4050b5715dc83f4a921d36ce9ce47d0d13c5d85f2b0ff8318d2877eec2f63b931bd47417a81a538327af927da3ex111x11x-8968-48ac-b956-x1x11x111111\n```\n\nExample Post-Signed Value:\n\n``` markdown\n939047623f0efbe10bfbb32f18e5d8885b2a91be3c3cea82adf0dd2d20892b20bcb6a10a91fec3afcedcc009f2b2a86c5366974cfadcf671fe0490582568f51f\n```\n\n\n","childOf":"REST API Overview"},"Pagination":{"description":"### Overview\n Several Bittrex API resources support bulk fetches via 'list' API methods. For example, you can list deposits, list closed orders, and list withdrawals. These list API methods share a common structure, using at least these three parameters: `pageSize, nextPageToken and previousPageToken.` These parameters, if necessary are specified as query parameters on the HTTP request.\n\n ### Arguments:\n\n\n\n - __pageSize(optional)__: A limit on the number of objects to be returned between 1 and 200, defaults to 100\n - __nextPageToken(optional)__: The id of the last item on the current page. This is used for defining the starting point of the next page. For instance, if you make a list request and receive 100 objects ending with objFoo, your subsequent call can include `nextPageToken=objFoo's id` in order to fetch the next page of the list starting after objFoo.\n\n - __previousPageToken(optional)__: The id of the first item on the current page. This is used for defining the ending point of the previous page. For instance, if you make a list request and receive 100 objects starting with objBar, your subsequent call can include `previousPageToken=objBar's id` in order to fetch the previous page of the list.\n\n\n ### Examples:\n\nList withdrawals, in reverse chronological order, up to maximum of 20 withdrawals, starting at the most recent withdrawal created:\n\n`https://api.bittrex.com/v3/withdrawals?pageSize=20`\n\nList withdrawals, in reverse chronological order, up to maximum of 10 withdrawals, starting after the withdrawal with ID of `940af3c3-665d-4432-a12e-cdf8fd99ab3b`\n\n`https://api.bittrex.com/v3/withdrawals?pageSize=10&nextPageToken=940af3c3-665d-4432-a12e-cdf8fd99ab3b`\n\n List withdrawals, in reverse chronological order, up to a maximum of 10 withdrawals, ending before the withdrawal with ID of `0d990dd2-4103-4d57-8e80-047e886537db`: \n\n`https://api.bittrex.com/v3/withdrawals?pageSize=10&previousPageToken=0d990dd2-4103-4d57-8e80-047e886537db`\n\n","childOf":"REST API Overview"},"Placing Orders":{"description":"Orders are placed using the [POST /orders](#operation--orders-post) operation. You can find sample request bodies for different types of orders in the examples in this section.\n\n### __Order Types__\n\n - __Market Order__ : An order to buy or sell a specified quantity of an asset immediately at the best available price. The market order will consume available orders on the book as it executes. Consequently, especially for large orders, the average price at which the order is filled will deviate from the last-traded price or current quote.\n\n - __Limit Order__ : An order to trade a specified quantity of an asset at a specified price. A buy order will only be filled at or below the limit price and a sell order will only be filled at or above the limit price.\n\n - __Ceiling Order__ : A market or limit order that allows you to specify the amount of quote currency you want to spend (or receive, if selling) instead of the quantity of the market currency (e.g. buy $100 USD of BTC at the current market BTC price)\n\n - __Good-Til-Cancelled Order__ : The order remains in force until it is explicitly cancelled either by the user or by Bittrex \n\n - __Immediate-Or-Cancel Order__ : The order will be filled immediately as much as possible and then cancelled.\n\n - __Fill-or-Kill__ : The order will be filled immediately and completely, or it is cancelled without being filled at all.\n\n - __Post Only__ : This option allows market makers to ensure that their orders are making it to the order book instead of matching with a pre-existing order. Note: If the order is not a maker order, you will return an error and the order will be cancelled\n\n - __Conditional Order__ : A directive for the system to place an order on your behalf when the price on the market moves past a given threshold. These are treated separately from orders. Refer to the Placing Conditional Orders section for more information. \n\n\n ### __Order types and time in force__ \n\n The following table shows which time in force options apply to which order types.\n\n\n<div style='overflow-x:auto;'><table><tbody><tr><th>timeInForce</th><th>LIMIT</th><th>MARKET</th><th>CEILING_LIMIT</th><th>CEILING_MARKET</th></tr><tr><td>GOOD_TIL_CANCELLED</td><td>BUY OR SELL</td><td>NOT ALLOWED</td><td>NOT ALLOWED</td><td>NOT ALLOWED</td></tr><tr><td>IMMEDIATE_OR_CANCEL</td><td>BUY OR SELL</td><td>BUY OR SELL</td><td>BUY OR SELL</td><td>BUY OR SELL</td></tr><tr><td>FILL_OR_KILL</td><td>BUY OR SELL</td><td>BUY OR SELL</td><td>BUY OR SELL</td><td>BUY OR SELL</td></tr><tr><td>POST_ONLY_GOOD_TIL_CANCELLED</td><td>BUY OR SELL</td><td>NOT ALLOWED</td><td>NOT ALLOWED</td><td>NOT ALLOWED</td></tr></tbody></table></div> \n\n\n ### __clientOrderId__ \n\nAn optional UUID which is generated by the user to to keep a track of the order. If the outcome of placing an order is not known (for example due to a client-side crash that occurred while placing the order), the same order can be safely placed again using the same UUID as the clientOrderId. If the order was received and processed the first time, the API will return an error that includes the existing order's id instead of creating a second order. This protection is in place for 24 hours after an order is placed. Although clientOrderIds which are more than 24 hours old are no longer checked against new orders, they remain associated with their orders as metadata and may be retrieved by clients.\n\n","childOf":"REST API Overview","example":"<h5>Request Body Example For Limit Order</h5><br><!-- < div class=\"hljs\" > --> <pre><code class=\"hljs lang-json\">{<br>    <span class=\"hljs-attr\">&quot;marketSymbol&quot;</span>: <span class=\"hljs-string\">&quot;string&quot;</span>,<br>    <span class=\"hljs-attr\">&quot;direction&quot;</span>: <span class=\"hljs-string\">&quot;string&quot;</span>,<br>    <span class=\"hljs-attr\">&quot;type&quot;</span>: <span class=\"hljs-string\">&quot;LIMIT&quot;</span>,<br>    <span class=\"hljs-attr\">&quot;quantity&quot;</span>: <span class=\"hljs-string\">&quot;number (double)&quot;</span>,<br>    <span class=\"hljs-attr\">&quot;limit&quot;</span>: <span class=\"hljs-string\">&quot;number (double)&quot;</span>,<br>    <span class=\"hljs-attr\">&quot;timeInForce&quot;</span>: <span class=\"hljs-string\">&quot;GOOD_TIL_CANCELLED || IMMEDIATE_OR_CANCEL || FILL_OR_KILL || POST_ONLY_GOOD_TIL_CANCELLED&quot;</span>,<br>    <span class=\"hljs-attr\">&quot;clientOrderId&quot;</span>: <span class=\"hljs-string\">&quot;string (uuid)&quot;</span><br>}<br></code></pre><br><h5>Request Body Example For Market Order</h5><br><!-- <div class=\"hljs\"> --><pre><code class=\"hljs lang-json\">{<br>    <span class=\"hljs-attr\">&quot;marketSymbol&quot;</span>: <span class=\"hljs-string\">&quot;string&quot;</span>,<br>    <span class=\"hljs-attr\">&quot;direction&quot;</span>: <span class=\"hljs-string\">&quot;string&quot;</span>,<br>    <span class=\"hljs-attr\">&quot;type&quot;</span>: <span class=\"hljs-string\">&quot;MARKET&quot;</span>,<br>    <span class=\"hljs-attr\">&quot;quantity&quot;</span>: <span class=\"hljs-string\">&quot;number (double)&quot;</span>,<br>    <span class=\"hljs-attr\">&quot;timeInForce&quot;</span>: <span class=\"hljs-string\">&quot;IMMEDIATE_OR_CANCEL || FILL_OR_KILL&quot;</span>,<br>    <span class=\"hljs-attr\">&quot;clientOrderId&quot;</span>: <span class=\"hljs-string\">&quot;string (uuid)&quot;</span><br>}<br></code></pre><br><h5>Request Body Example For Ceiling limit Order</h5><br><!-- <div class=\"hljs\"> --><pre><code class=\"hljs lang-json\">{<br>    <span class=\"hljs-attr\">&quot;marketSymbol&quot;</span>: <span class=\"hljs-string\">&quot;string&quot;</span>,<br>    <span class=\"hljs-attr\">&quot;direction&quot;</span>: <span class=\"hljs-string\">&quot;string&quot;</span>,<br>    <span class=\"hljs-attr\">&quot;type&quot;</span>: <span class=\"hljs-string\">&quot;CEILING_LIMIT&quot;</span>,<br>    <span class=\"hljs-attr\">&quot;limit&quot;</span>: <span class=\"hljs-string\">&quot;number (double)&quot;</span>,<br>    <span class=\"hljs-attr\">&quot;ceiling&quot;</span>: <span class=\"hljs-string\">&quot;number (double)&quot;</span>,<br>    <span class=\"hljs-attr\">&quot;timeInForce&quot;</span>: <span class=\"hljs-string\">&quot;IMMEDIATE_OR_CANCEL || FILL_OR_KILL&quot;</span>,<br>    <span class=\"hljs-attr\">&quot;clientOrderId&quot;</span>: <span class=\"hljs-string\">&quot;string (uuid)&quot;</span><br>}<br></code></pre><br><h5>Request Body Example For Ceiling Market Order</h5><br><!-- <div class=\"hljs\"> --><pre><code class=\"hljs lang-json\">{<br>    <span class=\"hljs-attr\">&quot;marketSymbol&quot;</span>: <span class=\"hljs-string\">&quot;string&quot;</span>,<br>    <span class=\"hljs-attr\">&quot;direction&quot;</span>: <span class=\"hljs-string\">&quot;string&quot;</span>,<br>    <span class=\"hljs-attr\">&quot;type&quot;</span>: <span class=\"hljs-string\">&quot;CEILING_MARKET&quot;</span>,<br>    <span class=\"hljs-attr\">&quot;ceiling&quot;</span>: <span class=\"hljs-string\">&quot;number (double)&quot;</span>,<br>    <span class=\"hljs-attr\">&quot;timeInForce&quot;</span>: <span class=\"hljs-string\">&quot;IMMEDIATE_OR_CANCEL||FILL_OR_KILL&quot;</span>,<br>    <span class=\"hljs-attr\">&quot;clientOrderId&quot;</span>: <span class=\"hljs-string\">&quot;string (uuid)&quot;</span><br>}<br></code></pre>"},"Placing Conditional Orders":{"description":"### Placing Conditional Orders\n\nConditional orders are placed using this API by specifying the market price trigger conditions and what action to take when the trigger is reached. When a trade occurs on the market that matches the trigger conditions, the actions are triggered such as placing an order. Conditional orders are not the same as orders. They are stored separately from normal orders and do not appear on the order book. As such, there is a small delay between trading occurring on the market and corresponding conditional orders being triggered.\n\nCare must also be taken when working with conditional orders because balance is not reserved. If you create a conditional order costing an amount in excess of your account balance for a currency or if your account balance drops due to other trades subsequent to you placing a conditional order there is a risk that you will not have enough balance available to place the order when the conditional order’s condition is met. If this occurs, placement of the order will fail.\n\n#### Trigger conditions\n\nThe trigger for a conditional order is made up of two parts: the operand and the trigger price or percentage. Operand may be either less than or equal to (LTE) or greater than or equal to (GTE). triggerPrice will be compared to the price of the last trade on the market to determine if the action(s) specified in the conditional order should be executed. Alternately, a trailingStopPercent may be specified. This will cause the triggerPrice to float a fixed percent off from the smallest or largest price seen since the conditional order was placed. The below table summarizes these options:\n\n\n<div style='overflow-x:auto;'><table><tbody><tr><th>Parameter provided</th><th>Operand</th><th>Trigger Price</th><th>Triggers when</th></tr><tr><td>triggerPrice</td><td>LTE</td><td>Constant</td><td>A trade occurs at a price LTE the provided trigger price</td></tr><tr><td>triggerPrice</td><td>GTE</td><td>Constant</td><td>A trade occurs at a price GTE the provided trigger price</td></tr><tr><td>trailingStopPercent</td><td>LTE</td><td>Calculated to be trailingStopPercent less than the maximum trade price on the market since the conditional order was placed</td><td>A trade occurs at a price LTE the calculated trigger price</td></tr><tr><td>trailingStopPercent</td><td>GTE</td><td>Calculated to be trailingStopPercent more than the minimum trade price on the market since the conditional order was placed</td><td>A trade occurs at a price GTE the calculated trigger price</td></tr></tbody></table></div> \n\n\n#### Actions\n\nWhen the trigger condition is met, this will result in a new order being placed and, optionally, another order or conditional order being cancelled. The order to place is configured by populating orderToCreate with the same object you would post to create an order. There are some limitations: post only orders, awards, and clientOrderId are not supported. For idempotency, instead specify a clientConditionalOrderId as a peer of orderToCreate in the request body.\n\nIf canceling an order is desired, provide the id of the order to cancel and the type of order (ORDER for an order on the book or CONDITIONAL_ORDER) in the orderToCancel object. This will pair the newly placed or with its target. If either conditional order triggers, the other will be cancelled. If both are trigger simultaneously, only the first conditional order place will trigger and the other will be cancelled. Note that there is not currently a way to break up two conditional orders paired in the fashion. To change the cancellation relationship, both conditional orders must be cancelled and placed again. You cannot link more than two orders in the fashion. Also note that if the orderToCancel is an order on the book and the conditional order triggers, the order on the book will be cancelled to free up funds prior to attempting to place the ordered triggered by the condition.\n\n#### Common Use Cases\n\nThis section describes some common use cases and provides instruction for how to meet them using the API:\n\n- __Stop Order__: A market order triggered by price moving past a given threshold. Specify operand and triggerPrice as desired and define a market buy or sell order in orderToCreate.\n\n- __Stop Limit Order__: A limit order triggered by price moving past a given threshold. Specify operand and triggerPrice as desired and define a limit buy or sell order in orderToCreate.\n\n- __Stop Loss Order__: A market sell order triggered by price falling to a given threshold. Specify LTE as the operand and triggerPrice as desired and define a market sell order in orderToCreate.\n\n- __Take Profit Order__: A limit sell order triggered by price rising to a given threshold. Specify GTE as the operand and triggerPrice as desired and define a limit sell order in orderToCreate.\n\n- __Trailing Stop Loss Order__: A market sell order triggered when price falls more than a given amount below the highest price seen since the order was created. Specify LTE as the operand, set trailingStopPercent as desired, and define a market sell order in orderToCreate.\n\n- __One Cancels the Other Order (OCO)__: A pair of orders where if one is triggered (for a conditional order) or executed (for an order on book) the other is automatically cancelled. When creating the second order in the pair, specify the id of the first order in orderToCancel. Note that currently one member of the OCO pair must be a conditional order.\n\nNote that more combinations are possible. These examples are intended as a guide to some common use cases, not an exhaustive list of supported scenarios.","childOf":"REST API Overview"},"Error Codes":{"description":"### __Overview__:\n\n If an error occurs during the processing of an API request, the Bittrex API will return an error to the caller. The general flow of information to check is:\n\n - status code of the response.\n\n - error code and other information in the response body (JSON)\n\n### __HTTP Status Codes__\n\n<div style='overflow-x:auto;'><table><tbody><tr><th>Status Code</th><th>Description</th></tr><tr><td>400 - Bad Request</td><td>The request was malformed, often due to a missing or invalid parameter. See the error code and response data for more details.</td></tr><tr><td>401 - Unauthorized</td><td>The request failed to authenticate (example: a valid api key was not included in your request header)</td></tr><tr><td>403 - Forbidden</td><td> The provided api key is not authorized to perform the requested operation (example: attempting to trade with an api key not authorized to make trades)</td></tr><tr><td>404 - Not Found</td><td>The requested resource does not exist.</td></tr><tr><td>409 - Conflict</td><td>The request parameters were valid but the request failed due to an operational error. (example: INSUFFICIENT_FUNDS) </td><tr><td>429 - Too Many Requests</td><td>Too many requests hit the API too quickly. Please make sure to implement exponential backoff with your requests.</td></tr><tr><td>501 - Not Implemented</td><td>The service requested has not yet been implemented.</td></tr><tr><td>503 - Service Unavailable</td><td>The request parameters were valid but the request failed because the resource is temporarily unavailable (example: CURRENCY_OFFLINE)</td></tr></tbody></table></div>\n\n","childOf":"REST API Overview"},"Websocket Overview":{"description":"The v3 websocket is intended to allow a client to subscribe to a live stream of updates about things that are changing in the system instead of needing to poll the REST API looking for updates. It is designed to complement and be used in conjunction with the v3 REST API. As such the messages sent from the socket include payloads that are formatted to match the corresponding data models from the v3 REST API.\n\nLike the existing v1 socket, the v3 socket is based on [Microsoft ASP.net’s SignalR](https://docs.microsoft.com/en-us/aspnet/signalr/overview/getting-started/tutorial-getting-started-with-signalr). We are not using ASP.net Core’s SignalR implementation at this time. As such, any existing SignalR client implementation working with the v1 socket should be able to be modified to work with the new v3 socket. If working in the .Net environment, the Microsoft.AspNet.SignalR.Client NuGet package is the recommended basis for a client implementation. The remainder of this section assumes you are working in C# using that library.","children":["Connecting","Authenticating","Subscribing","Handling Messages","Synchronizing","Unsubscribing"]},"Connecting":{"description":"To connect to the v3 socket, create a HubConnection to the socket URL (https://socket-v3.bittrex.com/signalr) and create a hub proxy. The hub name to use when creating the proxy is \"c3\". Once these objects are created, you can start the HubConnection to connect to the socket. There are no streams of data sent automatically based solely on being connected. To get data, you must [subscribe](#topic-Subscribing) to one or more streams. The available streams are discussed in the Websocket Streams section of this site.","childOf":"Websocket Overview","example":"<pre><code class=\"hljs language-c#\"><span class=\"hljs-keyword\">public</span> <span class=\"hljs-keyword\">class</span> <span class=\"hljs-title\">SocketClient</span><br>{<br>    <span class=\"hljs-keyword\">private</span> <span class=\"hljs-keyword\">string</span> _url;<br>    <span class=\"hljs-keyword\">private</span> HubConnection _hubConnection;<br>    <span class=\"hljs-keyword\">private</span> IHubProxy _hubProxy;<br><br>    <span class=\"hljs-function\"><span class=\"hljs-keyword\">public</span> <span class=\"hljs-title\">SocketClient</span>(<span class=\"hljs-params\"><span class=\"hljs-keyword\">string</span> url</span>)</span><br>    {<br>        _url = url;<br>        _hubConnection = <span class=\"hljs-keyword\">new</span> HubConnection(_url);<br>        _hubProxy = _hubConnection.CreateHubProxy(<span class=\"hljs-string\">\"c3\"</span>);<br>    }<br><br>    <span class=\"hljs-function\"><span class=\"hljs-keyword\">public</span> <span class=\"hljs-keyword\">async</span> Task&lt;<span class=\"hljs-keyword\">bool</span>&gt; <span class=\"hljs-title\">Connect</span>(<span class=\"hljs-params\"></span>)</span> {<br>        <span class=\"hljs-keyword\">await</span> _hubConnection.Start();<br>        <span class=\"hljs-keyword\">return</span> _hubConnection.State == ConnectionState.Connected;<br>    }<br>}<br></code></pre>"},"Authenticating":{"description":"Some streams contain private data and require that you be authenticated prior to subscribing. In order to authenticate, invoke the Authenticate method on the hub as shown in the example. The authentication will need to be renewed periodically. Currently authentication lasts for 10 minutes. When authentication expires subscriptions to any private streams will be cancelled. One minute prior to authentication expiring, a reminder message will be sent notifying the client that it is time to reauthenticate.","childOf":"Websocket Overview","example":"<pre><code class=\"hljs language-c#\"><span class=\"hljs-function\"><span class=\"hljs-keyword\">public</span> <span class=\"hljs-keyword\">async</span> Task&lt;SocketResponse&gt; <span class=\"hljs-title\">Authenticate</span>(<span class=\"hljs-params\"><span class=\"hljs-keyword\">string</span> apiKey, <span class=\"hljs-keyword\">string</span> apiKeySecret</span>)</span><br>{<br>    <span class=\"hljs-keyword\">var</span> timestamp = DateTimeOffset.UtcNow.ToUnixTimeMilliseconds();<br>    <span class=\"hljs-keyword\">var</span> randomContent = <span class=\"hljs-string\">$\"<span class=\"hljs-subst\">{ Guid.NewGuid() }</span>\"</span>;<br>    <span class=\"hljs-keyword\">var</span> content = <span class=\"hljs-keyword\">string</span>.Join(<span class=\"hljs-string\">\"\"</span>, timestamp, randomContent);<br>    <span class=\"hljs-keyword\">var</span> signedContent = CreateSignature(apiKeySecret, content);<br>    <span class=\"hljs-keyword\">var</span> result = <span class=\"hljs-keyword\">await</span> _hubProxy.Invoke&lt;SocketResponse&gt;(<br>        <span class=\"hljs-string\">\"Authenticate\"</span>, <br>        apiKey, <br>        timestamp, <br>        randomContent, <br>        signedContent);<br>    <span class=\"hljs-keyword\">return</span> result;<br>} <br>        <br><span class=\"hljs-function\"><span class=\"hljs-keyword\">public</span> <span class=\"hljs-keyword\">void</span> <span class=\"hljs-title\">SetAuthExpiringHandler</span>(<span class=\"hljs-params\"><span class=\"hljs-keyword\">string</span> apiKey, <span class=\"hljs-keyword\">string</span> apiKeySecret</span>)</span><br>{<br>    _hubProxy.On(<span class=\"hljs-string\">\"authenticationExpiring\"</span>, <span class=\"hljs-keyword\">async</span> () =&gt;<br>    {<br>        <span class=\"hljs-keyword\">await</span> Authenticate(apiKey, apiKeySecret);<br>    });<br>} <br>        <br><span class=\"hljs-function\"><span class=\"hljs-keyword\">private</span> <span class=\"hljs-keyword\">static</span> <span class=\"hljs-keyword\">string</span> <span class=\"hljs-title\">CreateSignature</span>(<span class=\"hljs-params\"><span class=\"hljs-keyword\">string</span> apiSecret, <span class=\"hljs-keyword\">string</span> data</span>)</span><br>{<br>    <span class=\"hljs-keyword\">var</span> hmacSha512 = <span class=\"hljs-keyword\">new</span> HMACSHA512(Encoding.ASCII.GetBytes(apiSecret));<br>    <span class=\"hljs-keyword\">var</span> hash = hmacSha512.ComputeHash(Encoding.ASCII.GetBytes(data));<br>    <span class=\"hljs-keyword\">return</span> BitConverter.ToString(hash).Replace(<span class=\"hljs-string\">\"-\"</span>, <span class=\"hljs-keyword\">string</span>.Empty);<br>}<br></code></pre>"},"Subscribing":{"description":"To subscribe to one or more streams, simply invoke the Subscribe method with an array of streams to which you wish to subscribe. For a list of stream names, refer to the Websocket Streams section. The Subscribe method may be invoked as many times as desired if not all desired streams are known initially.\n\nThe result of invoking the Subscribe method is a list of [SocketResponse](#definition-SocketResponse) objects containing a Boolean value indicating if the subscription was successful and, in the case of failure, an error code.","childOf":"Websocket Overview","example":"``` c#\npublic async Task<List<SocketResponse>> Subscribe(string[] channels)\n{\n    return await _hubProxy.Invoke<List<SocketResponse>>(\"Subscribe\", (object)channels);\n}\n```"},"Handling Messages":{"description":"Once you have subscribed to a stream, you will begin receiving messages as relevant activity occures in the system. The incoming messages must be decoded to do something with them. A basic example of this is shown below. The \"balance\" specified as a parameter is the name of the message to handle. This corresponds to the name of the stream. For a list of possible values and how they map to streams, refer to the Websocket Streams section.\nMessages sent on the v3 socket are gzipped and must be decompressed prior to being use
[...]
